/* ********************* Login Page ********************************/
.App {
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donutPicture {
  background-image: url(./pictures/donutBackground.jpeg);
  background-size: cover;
}
/* ********************* Team Page ********************************/
.AppTwo {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding-top: 7%;
  margin: 0;
  display: flex;
}

.ballPicture {
  background-image: url(./pictures/ball.jpg);
  background-size: cover;
}

.navBar {
  height: 10vh;
  background: rgb(116, 112, 112);
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  z-index: 1;
}

.playerList {
  color: aliceblue;
  height: 80%;
  width: 20%;
  justify-content: left;
  overflow: scroll;
  background-color: black;
  margin: 2%;
}

.singlePlayer {
  color: aliceblue;
  height: 80vh;
  width: 20vw;
  justify-content: center;
  background-color: black;
  margin: 2%;
  overflow: scroll;
}

/* ********************* Formation Page ********************************/

.fieldPicture {
  background-image: url(./pictures/fieldBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.fieldPositioningBox {
  background-color: aliceblue;
  margin: 2%;
  height: 80%;
  width: 60%;
}

.forwards {
  width: 100%;
  height: 20%;
  color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.goalie {
  width: 100%;
  height: 20%;
  color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.midfielders {
  width: 100%;
  height: 20%;
  color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.defenders {
  width: 100%;
  height: 20%;
  color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

/* ********************* League Page ********************************/
.AppTwo {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding-top: 7%;
  margin: 0;
  display: flex;
  justify-content: center;

  color: aliceblue;
}

.conditionalLeagueName {
  display: flex;
  flex-direction: column;

}

.formInput {
  height: 2em;
  width: 20em;
  font-size: 1em;
}

.submitButton {
  margin: 2%;
  border-radius: 35%;
  height: 2.5em;
  background-color: rgb(199, 9, 9);
  border: 3px solid black;
}

/* button {
  background-color: brown;
} */
