/* ********************* Login Page ********************************/
.App {
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donutPicture {
  background-image: url(./pictures/donutBackground.jpeg);
  background-size: cover;
}
/* ********************* Team Page ********************************/
.fieldPicture {
  background-image: url(./pictures/fieldBackground.jpg);
  background-size: cover;
}

.navBar {
  height: 10%;
  background: black;
  color: white
}