/* ********************* Login Page ********************************/
.App {
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donutPicture {
  background-image: url(./pictures/donutBackground.jpeg);
  background-size: cover;
}
/* ********************* Team Page ********************************/
.ballPicture {
  background-image: url(./pictures/ball.jpg);
  background-size: cover;
}

.navBar {
  height: 10vh;
  background: rgb(116, 112, 112);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  z-index: 1;
}